body {
    text-align: center;
    font-size: 20px;
    background: linear-gradient(black 50%, #222222 50%);

}

#image1 {
    width: 70%;
    height: 500px;
}

p {
    color: white;
}
.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    position:static;
}

.movie_head i {
    float: right;
}