body {
    text-align: center;
    font-size: 20px;
    background: linear-gradient(black 50%, #222222 50%);

}

#image1 {
    width: 70%;
    height: 500px;
}

p {
    color: white;
}
